/* CUSTOM-PROPS */
:root {
  --black: #263238;
  --light: #f5f5f5;
  --white: #fff;
  --dark-black: #000;
  --gray: #8f95a5;
}

/* FONT-FACE  */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
  url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
  url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal ;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--light);
  transition: opacity 0.6s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}
.loader {
  width: 70px;
  height: 35px;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #0000;
  border-color: var(--black) var(--black) #0000 #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg);
}
@keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed var(--black);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1380px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* BUTTON  */
.button {
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  font-size: 24px;
  border: 2px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--transparent {
  text-transform: capitalize;
  color: var(--black);
  background-color: transparent;
  background-color: transparent;
  border-color: var(--black);
  min-width: 220px;
}

.button--big {
  min-width: 438px;
  padding: 32px;
  font-size: 36px;
  border-radius: 15px;
}


/* LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 106px;
  height: 54px;
  object-fit: contain;
}

/* SITE-HEADER  */
.site-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 34px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}


/* HERO  */
.hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 530px;
  margin-right: 50px;
}

.hero__img-light {
  position: absolute;
  top: 16%;
  right: 0;
  display: block;
  width: 85px;
  height: 85px;
  object-fit: contain;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
  color: var(--dark-black);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 24px;
  color: var(--gray);
}

.hero__img {
  display: inline-block;
  width: 661px;
  height: 661px;
  object-fit: contain;
}